@page
@model OnCourt.Pages.AccountInfoModel
@{
    Layout = "HomeHeader";
    ViewBag.Title = "Account Info";
}
<div class="container">
    <div class="card-first-sec">
        <div class="profile-nav">
            <h3>Welcome Nick</h3>
            <ul class="profile-switch">
                <li><a href="~/Profile"><img src="@Model.UserMedia[0].FilePath" alt="Image 2" class="profile-pic" /></a>@Model.NewUser.FirstName</li>
            </ul>
            <ul class="tab-Nav">
                <li><a href="~/Messages">Messages</a></li>
                <li><a href="~/Players">Players</a></li>
                <li><a href="~/Requests">Requests</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li><a href="#">Email: @Model.NewUser.Email</a></li>
                @if (Model.NewUser.PhoneNumber != 0)
                {
                    <li><a href="#">Phone Number: @Model.NewUser.PhoneNumber</a></li>
                }
                <li><a href="#">Age</a></li>
                <li><a href="#">Preferred Shot: @Model.NewUser.PreferredShot</a></li>
                <li><a href="#">Level: @Model.NewUser.SportLevel</a></li>
                <li><a href="#">Sport: @Model.NewUser.Sport</a></li>
                <li><a href="/AccountInfo">Profile Settings</a></li>
            </ul>
        </div>
    </div>
    <div class="card-section">
        <form name="Messages" class="account-info-form" method="post" enctype="multipart/form-data">
            <div class="flex-form">
                <div>
                    <label for="FirstName">FirstName</label><br />
                    <input type="text" name="FirstName" value="@Model.NewUser.FirstName" required /><br />
                </div>
              
                <div>
                    <label for="LastName">LastName</label><br />
                    <input type="text" name="LastName" value="@Model.NewUser.LastName" required /><br />
                </div>
                           
            </div>

            <div class="flex-form">
                <div>
                    <label for="Bio">Email</label><br />
                    <textarea name="Bio" value="@Model.NewUser.Bio" required>

                    </textarea><br />
                </div>
            </div>

            <div class="flex-form">
                <div>
                    <label for="Email">Email</label><br />
                    <input type="email" name="Email" value="@Model.NewUser.Email" required /><br />
                </div>

                @if (Model.NewUser.Gender !="")
                {
                    <div>
                        <label for="Sport">Gender</label><br />
                        <select id="sport" name="Sport" required>
                            <option value="" disabled selected>@Model.NewUser.Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select><br />
                    </div>
                }
                else
                {
                    <div>
                        <label for="Sport">Gender</label><br />
                        <select id="sport" name="Sport" required>
                            <option value="" disabled selected>Select Your Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select><br />
                    </div>
                }

              @*   <div>
                    <label for="Password">Password</label><br />
                    <input type="password" name="Password" value="@Model.NewUser.Password" required /><br />
                </div>  *@               
            </div>
            
            <div class="flex-form">
                <div>
                    <label for="Sport">Sport</label><br />
                    <select id="sport" name="Sport" required>
                        <option value="" disabled selected>@Model.NewUser.Sport</option>
                        <option value="Tennis">Tennis</option>
                        <option value="Pickeball">Pickleball</option>
                        <option value="Badminton">Badminton</option>
                    </select><br />
                </div>

                @if (Model.NewUser.SportLevel != "")
                {
                    <div>
                        <label for="Level">Sport Level</label><br />
                        <select id="level" name="SportLevel" required>
                            <option value="" disabled selected>@Model.NewUser.SportLevel</option>
                            <option value="Beginner">Beginner(0.0 - 2.0)</option>
                            <option value="Intermediate">Intermediate (3.0 - 4.0)</option>
                            <option value="Semi Pro">Semi Pro (5.0)</option>
                            <option value="Professional">Professional (Open Level - )</option>
                        </select><br />
                    </div>
                }
                else
                {
                    <div>
                        <label for="Level">Sport Level</label><br />
                        <select id="level" name="Level" required>
                            <option value="" disabled selected>Pick Your Level</option>
                            <option value="Beginner">Beginner(0.0 - 2.0)</option>
                            <option value="Intermediate">Intermediate (3.0 - 4.0)</option>
                            <option value="Semi Pro">Semi Pro (5.0)</option>
                            <option value="Professional">Professional (Open Level - )</option>
                        </select><br />
                    </div>
                }

            </div>
            <div class="flex-form">
                @if (Model.NewUser.PreferredShot != "")
                {
                    <div>
                        <label for="Level">Prefered Shot</label><br />
                        <select id="level" name="PreferedShot" required>
                            <option value="" disabled selected>@Model.NewUser.PreferredShot</option>
                            <option value="Serve">Serve</option>
                            <option value="Forehand">ForeHand</option>
                            <option value="BackHand">Back Hand</option>
                            <option value="Volleys">Volleys</option>
                        </select><br />
                    </div>
                }
                else
                {
                    <div>
                        <label for="Level">Prefered Shot</label><br />
                        <select id="level" name="PreferedShot" required>
                            <option value="" disabled selected>Select Your Best Shot</option>
                            <option value="Serve">Serve</option>
                            <option value="Forehand">ForeHand</option>
                            <option value="BackHand">Back Hand</option>
                            <option value="Volleys">Volleys</option>
                        </select><br />
                    </div>
                }

                <div>
                    <label for="PhoneNumber">PhoneNumber</label><br />
                    <input type="tel" name="PhoneNumber" value="@Model.NewUser.PhoneNumber" required /><br />
                </div>
            </div>
            
            <fieldset class="image-upload-container">
                <legend>Profile Images</legend>
                    <div class="image-inputholder">
                        <fieldset class="hero">
                            <legend>+</legend>
                            <label for="Image1" class="drop-area">
                                <input type="file" name="Image1" id="Image1" accept="image/*" hidden required class="file-input"  />
                                <img src="~/img/image-upload.png" class="file-icon">
                            </label><br />
                        </fieldset>

                        <fieldset class="hero">
                            <legend>+</legend>
                            <label for="Image2" class="drop-area">
                                <input type="file" name="Image3" id="Image2" accept="image/*" hidden required class="file-input" />
                                <img src="~/img/image-upload.png" class="file-icon">
                            </label><br />
                        </fieldset>

                        <fieldset class="hero">
                            <legend>+</legend>
                            <label for="Image3" class="drop-area">
                                <input type="file" name="Image3" id="Image3" accept="image/*" hidden required class="file-input" />
                                <img src="~/img/image-upload.png" class="file-icon">
                            </label><br />
                        </fieldset>
                    </div>

                    <div class="image-inputholder">
                        <fieldset class="hero">
                            <legend>+</legend>
                            <label for="Image4" class="drop-area">
                                <input type="file" name="Image4" id="Image4" accept="image/*" hidden required class="file-input" />
                                <img src="~/img/image-upload.png" class="file-icon">
                            </label><br />
                        </fieldset>

                        <fieldset class="hero">
                            <legend>+</legend>
                            <label for="Image5" class="drop-area">
                                <input type="file" name="Image5" id="Image5" accept="image/*" hidden required class="file-input" />
                                <img src="~/img/image-upload.png" class="file-icon">
                            </label><br />
                        </fieldset>

                        <fieldset class="hero">
                            <legend>+</legend>
                            <label for="Image6" class="drop-area">
                                <input type="file" name="Image6" id="Image6" accept="image/*" hidden required class="file-input" />
                                <img src="~/img/image-upload.png" class="file-icon">
                            </label><br />
                        </fieldset>

                    </div>
            </fieldset>
            <input type="submit" name="Submit" value="Join" />
        </form>
    </div>
</div>

<script type="text/javascript">
    // Get all elements with the class 'file-input'
    const fileInputs = document.getElementsByClassName("file-input");
    // Get all <img> elements inside .hero fieldsets
    const imageElements = document.querySelectorAll(".hero img");

    // Check if lengths match
    if (fileInputs.length !== imageElements.length) {
        console.error('The number of file inputs and image elements do not match.');
    }

    // Loop through file inputs and add event listeners
    for (let i = 0; i < fileInputs.length; i++) {
        fileInputs[i].addEventListener("change", function () {
            // Only update if a file is selected
            if (fileInputs[i].files.length > 0) {
                const file = fileInputs[i].files[0];
                const imgLink = URL.createObjectURL(file);

                // Update the <img> element's src attribute
                if (imageElements[i]) {
                    imageElements[i].src = imgLink;
                }
            }
        });
    }

</script>

