@page
@model OnCourt.Pages.RequestsModel
@{
    Layout = "HomeHeader";
    ViewBag.Title = "Requests";
}
<div class="container">
    <div class="card-first-sec">
        <div class="profile-nav">
            <h3>Welcome Nick</h3>
            <ul class="profile-switch">
                <li><a href="~/Profile"><img src="@Model.UserMedia[0].FilePath" alt="Image 2" class="profile-pic" /></a>@Model.NewUser.FirstName</li>
            </ul>
            <ul class="tab-Nav">
                <li><a href="~/Messages">Messages</a></li>
                <li><a href="~/Players">Players</a></li>
                <li><a href="~/Requests">Requests</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li><a href="#">Email: @Model.NewUser.Email</a></li>
                <li><a href="#">Phone Number @Model.NewUser.PhoneNumber</a></li>
                <li><a href="#">Age</a></li>
                <li><a href="#">Preferred Shot: @Model.NewUser.PreferredShot</a></li>
                <li><a href="#">Level: @Model.NewUser.SportLevel</a></li>
                <li><a href="#">Sport: @Model.NewUser.Sport</a></li>
                <li><a href="/AccountInfo">Profile Settings</a></li>
            </ul>
        </div>
    </div>
    <div class="card-section">
        <div class="mini-requests">
            <div class="mini-cards">
                <img src="~/img/myImage.jpg" alt="Image 1" />
                <p>Nicholas</p>
            </div>
            <div class="mini-cards">
                <img src="~/img/myImage.jpg" alt="Image 1" />
                <p>Nicholas</p>
            </div>
            <div class="mini-cards">
                <img src="~/img/myImage.jpg" alt="Image 1" />
                <p>Nicholas</p>
            </div>
            <div class="mini-cards">
                <img src="~/img/myImage.jpg" alt="Image 1" />
                <p>Nicholas</p>
            </div>

        </div>
        <div class="card-container">
            <div class="card swiper swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="~/img/myImage.jpg" alt="Image 1" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/img/myImage2.jpg" alt="Image 2" />
                    </div>
                </div>

                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            <div class="card-info">
                <form name="select-Form" method="post">
                    <h3>Nicholas</h3>
                    <p>Intermediate</p>
                    <p>Preferred Shot: Serve</p>
                    <!-- Yes and No Icons -->
                    <div class="icon-container">
                        <input type="submit" class="icon-button yes-button" value="✔" />
                        <input type="submit" class="icon-button no-button" value="✖" />
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
